@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 1px 1px 5px ;
}

body{
    font-family: 'Pathway Gothic One', sans-serif;;
    background-color: black;
}

.wrapper, .about-me, .portafolio{
    width: 100vw;
    height: 100vh;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span{
    color: red
}

.Menú {
    
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.Menú li{
    list-style: none;
}

.Menú a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.Menú .inicio{
    color: turquoise;
}

.Menú a:hover {
    background-color: purple;
    color: white;
    transition: ease-in 0.35s;
    box-shadow: 1px 3px 11px -5px red;
}

.about-me{
    display: flexbox;
    width: 100vw;
    align-items: center;
    padding: 3em;
    font-size: 1.5em;
}

.about-me h2{
    margin-top: 25px;
    font-size: 2em;
    color: white;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 3em;
}

.about-me p{
    margin-bottom: 1em;
    text-align: justify;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    color: white;
    margin-top: 300px;
}

@media screen and (max-width:915px){
    .navbar{
        flex-direction: column;
        justify-content: space-evenly;
        height: 150px;   
    }
    .Menú {
        justify-content: space-evenly;
        width: 100%;
    }
    .about-me h2{
        margin-top: 2em;
    }
    .Menú li{
        font-size: 1em;
    }
    .footer{
        margin-top: 1000px;
   }
}